APP_NAME=docker-laravel-template

#DB
DB_CONNECTION=mysql
DB_HOST=db
DB_DATABASE=docker-laravel-template
DB_PASSWORD=laravel_secret_password
DB_USERNAME=eduard
DB_PORT=3306

REDIS_HOST=redis
REDIS_PASSWORD=null

CACHE_DRIVER=redis
QUEUE_CONNECTION=redis
SESSION_DRIVER=redis